<div class="container__box">
    <div class="container__box__new-list">
        <h2>My list</h2>
        <%= link_to "Create a movie list", new_list_path, class:"container__box--btn" %>
    </div>

    <section>

    </section>
</div>
