<header id="header__box">
    <div class="header__box--logo"> <img src="https://www.zupimages.net/up/22/49/hbok.png" width="100"></div>
    <div class="header__box--navbar">
        <nav>
            <a href="#">Home</a>
            <a href="#">My list</a>
            <a href="#">New list</a>
        </nav>
    </div>
</header>
